body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('backgroundmain.jpg') center center fixed;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: column;  
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.welcome {
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    color: #3498db;
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    gap: 20px;
}

.left-button,
.right-button {
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    background-color: #3498db;
}

.about-us {
    border: 2px solid #3498db;
    padding: 20px;
    margin-top: 20px;
    width: 70%;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
}

.about-us h2 {
    color: #333;
}

.about-us p {
    color: #333;
}

.subscribe {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.subscribe #email {
    width: 60%;
    padding: 5px;
    font-size: 14px;
}

.subscribe button {
    width: auto;
    padding: 5px 10px; 
    font-size: 14px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    background-color: #3498db;
}

.subscribe .subscribe-text {
    flex-grow: 1;
    color: #bbb;
    font-size: 14px;
    margin-left: 20px;
}
